<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index,follow"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="">
    <meta name="description" content="Admin Console | Banking System" />
    <meta name="fragment" content="!" />
    <title>Admin Console |Logout </title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
</head>
<body class="logout-body">
    <div class="logout-container">
        <div class="spinner"></div>
        <h3 class="header-logout">Logging Out</h3>
        <h5>Please wait while we securely sign you out...</h5>
        
        <div class="progress-bar">
            <div class="progress"></div>
        </div>
        
        <p class="redirect-text">You will be redirected to the login page shortly</p>
        
        <!-- Auto-redirect after 2 seconds -->
      <script  th:inline="javascript" src="/js/auth/logout.js"></script>
    </div>
</body>
</html>